<h1> Tech Blog Typebeat </h1>
{{main}}

<section id="blog-comment">
    <article class="card">
        <div class="card-body">
            <h2 class="card-title">{{blog.title}}</h2>
            <h4>Author: {{blog.user.username}}</h4>
            <p class="card-text">{{blog.content}}</p>
        </div>
    </article>
</section>