<h1> Blog </h1>

<div class="card">
    <a href="/blogs/{{blogId}}">
        <div class="card-body">
            <h2>{{blogTitle}}</h2>
            <h3>By {{user.username}} on {{blogDate}}</h3>
        </div>
    </a>
</div>

<script src="/public/js/post.js"></script>
