<h1> Blog </h1>

<section class="blog-card">
<main class="card">
    <a href="/blogs/{{blogId}}">
        <article class="card-body">
            <h2>{{blog.title}}</h2>
            <p>By {{user.username}} on {{formatDate blog.createdAt}}</p>
        </article>
    </a>
</main>
</section>

<script src="/public/js/post.js"></script>
